Secure WebSocket (WSS) SOAP Service with Client Certificate Authentication/myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MyService"
    targetNamespace="http://www.example.org/MyService/"
    xmlns:tns="http://www.example.org/MyService/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://www.example.org/MyService/">
            <xsd:element name="MyFunctionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MyFunctionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="MyFunctionRequest">
        <part name="parameters" element="tns:MyFunctionRequest"/>
    </message>
    <message name="MyFunctionResponse">
        <part name="parameters" element="tns:MyFunctionResponse"/>
    </message>

    <portType name="MyPortType">
        <operation name="MyFunction">
            <input message="tns:MyFunctionRequest"/>
            <output message="tns:MyFunctionResponse"/>
        </operation>
    </portType>

    <binding name="MyBinding" type="tns:MyPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="MyFunction">
            <soap:operation soapAction="http://www.example.org/MyService/MyFunction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="MyService">
        <port name="MyPort" binding="tns:MyBinding">
            <soap:address location="https://localhost:8000/wsdl"/>
        </port>
    </service>
</definitions>
